node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab

# Metro bundler
.metro-health-check*

# Arquivos de Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Certificados e Chaves
*.pem
*.cer

# Arquivos locais de ambiente
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# Arquivos de configuração EAS
eas.json

credentials/